.body, td,H1,H2 {
	font-family: Tahoma,Arial,sans-serif;
	color: #333333;
	font-size: 11px;
}
a {
	color: #1B95C7;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

a.mmenu {
	color: #0FB4D2;
	font-weight: bold;
	text-decoration: none;
}
a.mmenu:hover {
	color:#FF7E00;
	text-decoration: none;
}

a.b_link1 {
	color: #0FB4D2;
	font-weight: bold;
	text-decoration: underline;
}
a.b_link1:hover {
	text-decoration: none;
}
a.b_link2 {
	color: #1B95C7;
	font-weight: bold;
	text-decoration: underline;
}
a.b_link2:hover {
	text-decoration: none;
}
a.b_link3 {
	color: #1B95C7;
	font-weight: bold;
	text-decoration: none;
}
a.b_link3:hover {
	text-decoration: underline;
}
a.b_link4 {
	color: #1B95C7;
	text-decoration: none;
}
a.b_link4:hover {
	text-decoration: underline;
}

a.o_link1 {
	color: #FF7E00;
	font-weight: bold;
	text-decoration: underline;
}
a.o_link1:hover {
	color: #FF7E00;
	text-decoration: none;
}

a.o_link2 {
	color: #FF7E00;
	font-weight: bold;
	text-decoration: none;
}
a.o_link2:hover {
	color: #0FB4D2;
	text-decoration: none;
}

a.w_link {
	color: #FFFFFF;
	text-decoration: underline;
}
a.w_link:hover {
	text-decoration: none;
}
a.w_link_b {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}
a.w_link_b:hover {
	text-decoration: none;
}

.b_text {
	color: #1B95C7;
}
.b_text_b {
	color: #1B95C7;
	font-weight: bold;
}
.w_text {
	color: #FFFFFF;
}
.w_text_b {
	color: #FFFFFF;
	font-weight: bold;
}
.o_text {
	color: #FF7E00;
	font-weight: bold;
}
.r_text_b {
	color: #FF0000;
	font-weight: bold;
}
.cp_header {
	color: #FFFFFF;
	font-size: 18px;
}
.news_date {
	color: #0FB4D2;
	font-size: 18px;
}
.score {
	color: #FFFFFF;
	font-size: 54px;
}
.bl_text_b {
	color: #333333;
	font-weight: bold;
}
.bl_text_18 {
	color: #333333;
	font-size: 18px;
	font-weight: bold;
}
.copyright {
	color: #999999;
}
.t_box {
	font-size: 12px;
	color: #000000;
	border: 1px solid #666666;
}
.btn_aqua_or {
	border:1px solid #F37002;
	font-weight: bold;
	background-image: url(btn_bg.gif);
	background-color: #FE8320;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	height: 24px;
	text-align: center;
}
a.btn_aqua_or {
	border:1px solid #F37002;
	font-weight: bold;
	background-image: url(btn_bg.gif) repeat-x;
	background-color: #FE8320;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	height: 24px;
	text-align: center;
}
#flashContent {
	width:100%;
	height:100%;
}

.search {
	width: 160px; /* Ширина поля с кнопкой */
	border: 1px solid #F37002; /* Параметры рамки */
	min-height: 16px; /* Минимальная высота */
}
input.search[type="search"] {
	border: none; /* Убираем рамку */
	outline: none; /* Убираем свечение в Chrome и Safari */
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 140px; /* Ширина поля */
	vertical-align: middle; /* Выравнивание по середине */
}
input.search[type="submit"] {
	width: 16px; /* Ширина кнопки */
	height: 16px; /* Высота кнопки */
	border: none; /* Убираем рамку */
	background: url(../graphics/search.png) no-repeat 100% 100%; /* Параметры фона */
}

.img-emblem {
	max-height: 70px;
	max-width: 70px;
}

.img-player {
	max-height: 150px;
	max-width: 150px;
}