A:link  {text-decoration: none; color: #d9d7d0}
A:visited {text-decoration: none; color: #d9d7d0}
A:hover {text-decoration: none; color: #d9d7d0}

A.underline:link  {text-decoration: none; color: #d9d7d0}
A.underline:visited {text-decoration: none; color: #d9d7d0}
A.underline:hover {text-decoration: underline; color: #d9d7d0}

A.dark:link  {text-decoration: none; color: #44618A}
A.dark:visited {text-decoration: none; color: #44618A}
A.dark:hover {text-decoration: underline; color: #44618A}

select {border-style: solid; border-width: 1; background-color: #ffffff; color: #44618A; font-family:Tahoma; font-size: 8pt}

.button {border-style: solid; border-width: 1; background-color: #44618A; color: #D9D7D0; font-family:Tahoma; font-size: 9pt}